* {
  margin: 0;
  padding: 0;
}

.nav-header-img {
    max-width: 100px;
}

.nav-header-text {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #23232e;
    max-height: 100px;
  }

.flex-item{
  flex-basis: 150px;
}
  
  