.nav-header-img {
    max-width: 100px;
}

.nav-header-text {
    color: white;
}

* {
    margin: 0;
    padding: 0;
  }
  
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    max-height: 100px;
  }
  
  